@import "bootstrap-sprockets";
@import "bootstrap";


/*----(色の変数の定義)----------------------------*/
$black: #364F6B;
$cyan: #3FC1C9;
$white: #F5F5F5;
$pink: #FC5185;
$darkpink: #d64470;


/*----(共通部分)--------------------------------*/

body {
  color: $black;
}

a {
  color: $pink;
  text-decoration: none;
}

a:hover, a:focus {
  color: $darkpink;
  text-decoration: underline;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.black {
  background-color: $black;
}

.cyan {
  background-color: $cyan;
}

.white {
  background-color: $white;
}

.pink {
  background-color: $pink;
}

.container {
  background-color: $white;
}

.timeline {
  padding: 10px;
  margin: 10px;
}

.right {
  float: right;
}

.left-add-margin {
  margin-left: 10px;
}

/*----(ヘッダー)--------------------*/

.header {
  margin: 0 auto; 
  background-color: $black;
  height: 50px;
}

.head_log {
  margin-top: 5px; 
  color: $white;
}


/*----(フッター)--------------------*/

.footer {
  margin: 0 auto; 
  background-color: $black;
  height: 30px;
}

.foot_copy {
  margin: 5px 5px 0 0; 
  color: $white;
}


/*----(レスポンシブ流対応)--------------------*/

@media (max-width: 767px) {
  .top-display {
    display: none;
  }

}


@media (min-width: 768px) {
  /* line 10, /Users/main/.rvm/gems/ruby-2.3.3/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 750px;
  }

  .header {
    width: 750px;
  }

  .footer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 10, /Users/main/.rvm/gems/ruby-2.3.3/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 970px;
  }

  .header {
    width: 970px;
  }

  .footer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 10, /Users/main/.rvm/gems/ruby-2.3.3/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 1024px;
  }

  .header {
    width: 1024px;
  }

  .footer {
    width: 1024px;
  }
}
