<h1>美味しいカレー屋さんを語るコミュニティ</h1>
<%= link_to "新規作成", new_post_path %> |
<%= link_to "ユーザー一覧", users_path %>
<hr>
<h2>タイムライン</h2>
<% @posts.each do |post| %>
  <p>タイトル：<%= link_to post.title, post_path(post.id) %></p>
  <p>投稿者：<%= link_to post.user.nickname , user_path(post.user.id) %></p>
  <a>------------------------------------------------------------------------------------</a>
<% end %>